@import '../../styles/variables';

.expired_mark_container{
    position: absolute;
    border: 1px solid $red;
    border-radius: 5px;
    font-size: 22px;
    right: 10px;
    top: 25px;
    padding: 3px;
    transform: rotate(-25deg);
    color: $red;
    font-weight: 700;
}
.expired_mark_container::before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
