.filter_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.delete_container{
    display: flex;
    justify-content: flex-end;
}
.delete_button{
    width: 180px;
    height: 40px;
    border: 1px solid #000;
    color: red;
    font-size: 22px;
    padding: 3px 5px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.delete_button:active{
    border: 1px solid red;
}
.delete_button:disabled{
    border: 1px solid #000;
    background-color: rgb(192, 192, 192);
    color: #000;
    cursor: default;
}
@media (max-width: 768px) {
    .filter_button{
        width: 120px;
    }
}
