@import '../../styles/variables';

.filter_button_filter_button{
    width: 25%;
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid;
    cursor: pointer;
}
#light .filter_button_filter_button{
    background-color: #fff;
    border-color: #000;
    color: #000;
}
#dark .filter_button_filter_button{
    background-color: $dark_bg;
    border-color: #fff;
    color: #fff;
}
.filter_button_filter_button:first-child{
    border-left: none;
    border-right: 0.5px solid #000;
}
.filter_button_filter_button:last-child{
    border-right: none;
    border-left: 0.5px solid #000;
}
#light .filter_button_filter_button:hover{
    color: $light_blue;
}
#dark .filter_button_filter_button:hover{
    color: gray;
}
#light .filter_button_chosen_filter{
    background-color: rgb(192, 192, 192);
    color: $light_blue;
}
#dark .filter_button_chosen_filter{
    background-color: $dark_overlay;
    color: gray;
}
@media ($mobile_width) {
    .filter_button_filter_button{
        width: 120px;
    }
}
