@import '../../styles/variables';

.filter_button{
    width: 25%;
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid;
    cursor: pointer;
    background-color: var(--contrast-background-color);
    border-color: var(--color-primary);
    color: var(--color-primary);

    &:first-child{
        border-left: none;
        border-right: 0.5px solid var(--color-primary);
    }
    &:last-child{
        border-right: none;
        border-left: 0.5px solid var(--color-primary);
    }
    &:hover{
        color: var(--color-secondary);
    }
    &_chosen_filter{
        background-color: var(--secondary-background);
        color: var(--color-secondary);
    }
}
.counter_label{
    color: $gray;
    margin-left: 10px;
}
@media ($tablet_width) {
    .filter_button{
        width: 120px;
    }
}
