.list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.item_enter{
    opacity: 0;
    transform: scale(0);
}
.item_enter_active{
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}
.item_exit{
    opacity: 1;
    transform: scale(1);
}
.item_exit_active{
    opacity: 0;
    transform: scale(0);
    transition: all 300ms;
}
@media (max-width: 768px) {
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
