$light_blue: rgb(87, 87, 255);

$dark_header: #010101;
$dark_bg: #1F2023;
$dark_surface: #27292D;
$dark_overlay: #2D2F34;
$dark_lite_overlay: #383B40;

$white: #fff;
$black: #000;
$gray: rgb(128, 128,128);
$lite_gray: rgb(192, 192, 192);
$red: rgb(255,0,0);

$mobile_width: 'max-width: 768px';
