@import '../../styles/variables';

.modal{
    &_content{
        width: 400px;
        height: 500px;
        border: 1px solid $black;
        z-index: 110;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        background-color: var(--background-surface);
    }
    &_title{
        text-align: center;
        margin: 15px 0;
        font-size: 28px;
        color: var(--color-primary);
    }
    &_inputs{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        font-size: 20px;
        height: 100%;
    }
    &_singe_input{
        margin-bottom: 20px;
        color: var(--color-primary);
    }
    &_input_name{
        padding: 0;
        margin-bottom: 5px;
    }
    &_input_name_req{
        padding: 0;
        margin-bottom: 5px;
    }
    &_input_name_req::after{
        content: '*';
        color: $red;
    }
    &_input_field{
        width: 250px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid var(--border-lite-color);
        padding: 2px 5px;
        font-size: 18px;
        background-color: var(--background-lite-color);
        color: var(--color-primary);
    }
    &_button_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 20px 30px;
    }
    &_cancel_button{
        width: 80px;
        height: 30px;
        font-size: 20px;
        padding: 3px 4px;
        border: 1px solid var(--border-lite-color);
        border-radius: 3px;
        cursor: pointer;
        color: $red;
        background-color: var(--background-lite-color);
    }
    &_cancel_button:active{
        border-color: $red;
    }
    &_save_button{
        width: 80px;
        height: 30px;
        font-size: 20px;
        padding: 3px 4px;
        border: 1px solid var(--border-button-color);
        border-radius: 3px;
        cursor: pointer;
        color: $light_blue;
        background-color: var(--background-lite-color);
    }
    &_save_button:active{
        border-color: $light_blue;
    }
    &_save_button:disabled{
        background-color: var(--disable-save-button);
        color: var(--border-disable-button);
        border: 1px solid var(--border-lite-color);
        cursor: default;
    }
}
@media ($tablet_width) {
    .modal_content{
        width: 350px;
        height: 500px;
        border: 1px solid $black;
        z-index: 110;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        background-color: var(--background-surface);
    }
}
