@import '../../styles/variables';

.search_bar_search_title{
    font-size: 24px;
    margin-bottom: 15px;
}
#light .search_bar_search_title{
    color: $black;
}
#dark .search_bar_search_title{
    color: $white;
}
