@import "../../styles/variables";

.header{
    height: 100px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: $white;
    margin-bottom: 30px;
    background-color: var(--header-background);

    &_theme_toggler{
        display: flex;
        align-items: center;
    }
    &_theme_label{
        font-size: 20px;
        margin-right: 10px;
    }
}
@media ($tablet_width) {
    .header{
        font-size: 18px;
        padding: 0 10px;
        align-items: flex-end;

        &_theme_toggler{
            padding-bottom: 10px;
        }
    }
}
@media ($mobile_width) {
    .header{
        font-size: 16px;

        &_theme_label{
            font-size: 16px;
            margin-right: 5px;
        }
    }
}
