@import '../../styles/variables';

.custom_input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 2px 7px;
    border: 1px solid;
    border-radius: 5px;
}
#light .custom_input{
    background-color: $white;
    border-color: $black;
    color: $black;
}
#dark .custom_input{
    background-color: $dark_lite_overlay;
    border-color: $dark_lite_overlay;
    color: $white;
}
