@import '../../styles/variables';

.custom_input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 2px 7px;
    border: 1px solid var(--border-lite-color);
    border-radius: 5px;
    background-color: var(--background-lite-color);
    color: var(--color-primary);
}
@media ($mobile_width) {
    .custom_input{
        width: 250px;
    }
}
