@import './styles/variables';

#light{
    min-height: 100vh;
    background-color: $white;
}
#dark{
    min-height: 100vh;
    background-color: $dark_bg;
}
.app_container{
    padding: 0 180px 0 100px;
    padding-bottom: 30px;
}
.modal_opened{
    height: 100vh;
    overflow: hidden;
}
.modal_closed{
    overflow-y: visible;
}
@media ($tablet_width) {
    .app_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
