body{
    margin: 0;
    padding: 0;
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
}
ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
html {
    margin-right: calc(-1 * (100vw - 100%));
}
